# 2-1-2: Google Colab notebook GUI

In [ ]:
# This is a code cell, try to add new code cells and markdown cells above and below this cell.
# Explore the left hand menu and view icons, try to add new sections to TOC and upload files.
# Finally, examine the top menu alternatives, try to restart the session, and download notebook.

## Notebook code cells and text cells

In [ ]:
# Create and delete
# Execute code and text
# Move up and down

## Google Colab left-hand menu

In [ ]:
# Table of contents
# Find and replace
# Notebook tokens
# Notebook files
# Notebook variables
greeting = "hello fellow ai analysts :)"

## Google Colab top menu

In [ ]:
# File: Open notebook from drive
# File: Save notebook

# Edit: Find replace
# Edit: Delete cells
# Edit: Notebook settings

# View: Table of contents
# View: Show/hide output

# Runtime: Run cells
# Runtime: Disconnect

# 2-1-3: Trying out some low-code Python

In [ ]:
# Add a new empty code cell and click the "generate" link, then paste the following prompt:
# "generate a python function to check if a given string is a palindrome, and test the function"

## Use AI-assisted coding

## AI-assisted code functions

In [ ]:
# prompt: generate a python function to check if a given string is a palindrome, and test the function

def is_palindrome(s):
  """Checks if a string is a palindrome."""
  s = s.lower().replace(" ", "")  # Convert to lowercase and remove spaces
  return s == s[::-1]

# Test the function
print(is_palindrome("madam"))
print(is_palindrome("hello"))
print(is_palindrome("A man a plan a canal Panama"))
print(is_palindrome("racecar"))
print(is_palindrome("google"))
print(is_palindrome("level"))

## AI-assisted code debugging

In [ ]:
if greet is "test":
  print("hello")

# 2-2-2: Low-code data analysis, tables

In [ ]:
# Generate a pandas dataset with three variables, one unique integer, one random float, one categorical

## Use AI-assisted dataframes

In [ ]:
# prompt: Generate a pandas dataset with three variables, one unique integer, one random float, one categorical

import pandas as pd
import numpy as np

# Generate unique integers
unique_integers = np.arange(100)

# Generate random floats
random_floats = np.random.rand(100)

# Generate categorical data
categories = ['A', 'B', 'C']
categorical_data = np.random.choice(categories, 100)

# Create a DataFrame
df = pd.DataFrame({
    'unique_integer': unique_integers,
    'random_float': random_floats,
    'category': categorical_data
})

print(df.head())

## AI-assisted data aggregation

In [ ]:
# Use dataframe "df" and aggregate mean of column "random_float" by column "category"

In [ ]:
# prompt: Use dataframe "df" and aggregate mean of column "random_float" by column "category"

# Group by 'category' and calculate the mean of 'random_float'
mean_by_category = df.groupby('category')['random_float'].mean()

mean_by_category

## Save and load dataframes

In [ ]:
# Save dataframes "df" and "mean_by_category" as tsv files, then load tsv file to existing dataframe

In [ ]:
# prompt: Save dataframes "df" and "mean_by_category" as tsv files, then load tsv file to existing dataframe

import pandas as pd
df.to_csv('df.tsv', sep='\t', index=False)
mean_by_category.to_csv('mean_by_category.tsv', sep='\t')

# Load tsv file to existing dataframe df
df = pd.read_csv('df.tsv', sep='\t')

# 2-2-3: Low-code data analysis, graphs

In [ ]:
# Use dataframe "mean_by_category" and generate a bar plot of "random_float" by "category"

## Use AI-assisted data visualization

In [ ]:
import pandas as pd

# Load tsv file to existing dataframe df
mean_by_category = pd.read_csv('mean_by_category.tsv', sep='\t')

mean_by_category.head()

In [ ]:
# prompt: Use dataframe "mean_by_category" and generate a bar plot of "random_float" by "category"

import pandas as pd
import matplotlib.pyplot as plt

# Customize appearance
ymin = 0      # Set your desired y-axis min
ymax = 1      # Set your desired y-axis max
bar_color = 'green'  # Custom bar color

# Reset index so 'category' becomes a column
df_plot = mean_by_category.reset_index()

# Create bar plot
plt.figure(figsize=(8, 5))
plt.bar(df_plot['category'], df_plot['random_float'], color=bar_color)

# Format axes
plt.title('Mean of Random Float by Category')
plt.xlabel('Category')
plt.ylabel('Mean Random Float')
plt.ylim(ymin, ymax)
plt.xticks(rotation=0, ha='right')

plt.tight_layout()

# Save the plot
output_file = 'mean_by_category_plot.png'  # Set your desired filename
plt.savefig(output_file, dpi=300)

plt.show()

## AI-assisted line graphs

In [ ]:
# prompt: i have dataframe below, please create a seaborn line graph of first two columns, first column on x axis and second on y axis
# # Create a DataFrame
# df = pd.DataFrame({
#     'unique_integer': unique_integers,
#     'random_float': random_floats,
#     'category': categorical_data
# })

import matplotlib.pyplot as plt
import seaborn as sns

plt.figure(figsize=(10, 6))
sns.lineplot(x='unique_integer', y='random_float', data=df)
plt.title('Random Float vs. Unique Integer')
plt.xlabel('Unique Integer')
plt.ylabel('Random Float')
plt.show()

## More AI-assisted graphs

In [ ]:
# https://seaborn.pydata.org/examples/index.html

import seaborn as sns
sns.set_theme(style="darkgrid")

# Load an example dataset with long-form data
fmri = sns.load_dataset("fmri")

# Plot the responses for different events and regions
sns.lineplot(x="timepoint", y="signal",
             hue="region", style="event",
             data=fmri)